/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  font-size: $font-size;
  line-height: $line-height;
  color: $primary-color;
  background-color: $background-color;
}
