@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
}

@mixin button {
  @include link;
  @include font-params-mobile(16px, 20px);
  padding: 10px;
  font-family: $secondary-font;
  color: $base-light;
  background-color: $accent-color;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@mixin button-secondary {
  @include button;
  color: $secondary-color;
  background-color: $dark-background;

  &:hover,
  &:focus-visible,
  &:active {
    background-color: #ebebeb;
    color: $secondary-color;
  }
}

@mixin font-params-mobile ($font-size: 14px, $line-height: 18px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin font-params-tablet ($font-size: 16px, $line-height: 24px) {
  font-size: $font-size;
  line-height: $line-height;
}
