/* здесь используйте глобальные переменные */
$primary-color: #000000;
$secondary-color: #444444;
$background-color: #ffffff;
$dark-background: #f2f2f2; //серый фон для карточек и некоторых блоков
$accent-color: #68b738; //акцентный зелёный
