/* здесь используйте глобальные переменные */
$primary-color: #000000;
$secondary-color: #444444;
$font-size: 16px;
$line-height: 24px;
$background-color: #ffffff;
$dark-background: #f2f2f2; //серый фон для карточек и некоторых блоков
$accent-background: #68b738; //акцентный зелёный
