/* здесь используйте глобальные переменные */
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$primary-color: #000000;
$secondary-color: #444444;
$secondary-color-dark: #222222;
$base-light: #ffffff;
$dark-background: #f2f2f2; //серый фон для карточек и некоторых блоков
$accent-color: #68b738; //акцентный зелёный
$mask-background-color: #666666;

$base-font-weight: 400;
