.advantages {
  padding: 0 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.advantages__title {
  @include font-params-mobile(36px, 40px);
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(60px, 60px);
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 20px;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 245px);
    gap: 37px 137px;
  }
}

.advantage__description {
  margin: 0;
}
