.advantages {
  padding: 0 20px 49px;

  @media (min-width: $tablet-width) {
    padding: 40px 30px 37px;
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    border: none;
    padding-top: 73px;
    padding-bottom: 16px;
  }
}

.advantages__item {
  min-height: 60px;

  @media (min-width: $tablet-width) {
    min-height: 280px;
    min-width: 324px;
  }

  @media (min-width: $desktop-width) {
    min-width: 230px;
  }
}

.advantages__title {
  @include font-params-mobile(36px, 40px);
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(60px, 60px);
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  counter-reset: item;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(324px, 1fr));
    gap: 37px 58px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 80px;
  }
}
