.card {
  padding: 20px 20px 0;
  display: grid;
  row-gap: 14px;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 511px;
    padding: 10px 37px 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    border: none;

    &::after {
      content: "";
      z-index: -1;
      background-color: #f2f2f2;
      width: 100%;
      height: calc(100% - 81px);
      position: absolute;
      top: 81px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    row-gap: 12px;
    padding-left: 38px;
    padding-right: 38px;
  }
}

.card__link {
  grid-row: 1 / 3;
  place-self: center center;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 2px;
  }
}

.card__title {
  @include font-params-mobile(16px, 20px);
  max-width: 55%;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  text-transform: uppercase;
  text-align: left;

  @media (min-width: $tablet-width) {
    @include font-params-tablet($font-size: 20px);
    margin: 0 auto;
    max-width: 42%;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    @include font-params-tablet($font-size: 20px);
    max-width: 90%;
  }
}

.card__title-link {
  @include link;
  color: $secondary-color-dark;
}

.card__description {
  grid-column: 2 / 3;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-bottom: 12px;
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;
  }
}

.card__column {
  @include font-params-mobile(12px, 16px);
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    @include font-params-tablet($line-height: 20px);
    border-bottom: 1px solid #cdcdcd;
  }
}

.card__value {
  text-align: right;

  @media (min-width: $tablet-width) {
    padding: 4px 0;
  }
}

.card__key {
  @media (min-width: $tablet-width) {
    padding: 4px 0;
  }
}

.card__order {
  @include button;
  grid-column: 1 / 3;
  margin-top: 3px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card--show-more {
  position: relative;
  display: block;
  padding-bottom: 25px;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;

  @media (min-width: $tablet-width) {
    border: none;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;

    &::after {
      content: "";
      z-index: -1;
      border: 2px solid #f2f2f2;
      background-color: transparent;
      width: 100%;
      height: calc(100% - 81px);
      position: absolute;
      top: 81px;
      left: 0;
    }
  }
}

.card--show-more .card__title {
  position: relative;
  padding-top: 78px;
  margin: 0 0 8px;
  max-width: none;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
  }

  &::before {
    width: 30px;
    height: 2px;
    top: 38px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    width: 2px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    margin: 0 auto 3px;
    max-width: 70%;
    padding-top: 238px;
    border: none;

    &::before {
      width: 60px;
      top: 161px;
    }

    &::after {
      height: 60px;
      top: 131px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 90%;
    margin-bottom: 6px;
  }
}

.card__comment {
  @include font-params-mobile(12px, 16px);
  margin: 0 0 21px;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    @include font-params-tablet($line-height: 18px);
    margin: 0 auto 62px;
    max-width: 90%;
  }

  @media (min-width: $desktop-width) {
    max-width: none;
  }
}

.card__show-all {
  @include button-secondary;
  width: 100%;
}
