.cards {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 25px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 60px;
    padding: 0 30px;
  }
}
