

.card--show-more {
  position: relative;
  padding-top: 53px;
  text-align: center;

  &::before,
  &::after {
    content: "";
    position: absolute;
    background-color: #d3d3d3;
  }

  &::before {
    width: 30px;
    height: 2px;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    width: 2px;
    height: 30px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.card__title {
  @include font-params-mobile(16px, 20px);
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  text-transform: uppercase;
}

.card__link {
  @include link;
  @include font-params-mobile(16px, 20px);
  font-family: $secondary-font;
  color: $secondary-color-dark;
}

.card__column {
  @include font-params-mobile(12px, 16px);
  color: $secondary-color;
}

.card__order {
  @include button;
}

.card__comment {
  @include font-params-mobile(12px, 16px);
  color: $secondary-color;
}

.card__show-all {
  @include button-secondary;
}
