.catalog-container__headline {
  margin: 0;

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.catalog-container__extra-products {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.catalog-container__subscribe {
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}
