.contacts {
  padding: 26px 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    background-color: $base-light;
  }
}

.contacts--main {
  background-color: $base-light;
}

.contacts__title {
  @include font-params-mobile(16px, 20px);
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(20px, 26px);
  }
}

.contacts__text {
  @include font-params-mobile($line-height: 20px);
  justify-self: end;
  display: flex;
  flex-direction: column;
  color: $secondary-color;
  font-style: normal;

  @media (min-width: $tablet-width) {
    @include font-params-tablet($line-height: 20px);
    gap: 20px;
    text-align: right;
  }
}
