.detail__value {
  font-family: $secondary-font;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
}

.detail--accent {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}

.detail__value--accent {
  font-size: 20px;
  line-height: 20px;
}
