.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail--accent {
  grid-column: 1 / 3;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: end;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
    width: 100%;
    flex-direction: row;
  }
}

.detail__value {
  @include font-params-mobile(24px, 24px);
  min-width: 124px;
  padding: 14px;
  font-family: $secondary-font;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(30px, 37px);
    min-width: 162px;
    padding: 15px;
  }
}

.detail__value--accent {
  @include font-params-mobile(14px, 20px);
  width: fit-content;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(20px, 20px);
  }
}

.detail__key {
  @include font-params-mobile(12px, 12px);
  width: min-content;
  margin: -9px auto 0;
  padding: 0 15px;
  color: $secondary-color;
  background-color: #eaeaea;
  text-transform: lowercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(14px, 14px);
    max-width: 145px;
    width: fit-content;
    padding: 0 10px;
    background-color: $base-light;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}

.detail__key--accent {
  @include font-params-mobile(14px, 20px);
  order: -1;
  max-width: none;
  width: fit-content;
  margin: 0;
  padding: 0 4px 0 0;
  font-family: $secondary-font;
  color: $primary-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(20px, 20px);
    padding-top: 11px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 63px 0 0;
  }
}
