.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 43px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 58px 40px;
    padding-right: 70px;
  }
}

.details__item--accent {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    margin: 0 0 0 auto;
  }
}
