.details {
  margin: 0 0 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 32px;

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 43px;
    align-items: center;
  }
}
