.details-secondary__item {
  display: flex;
  justify-content: center;
  column-gap: 4px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: end;
    row-gap: 9px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: start;
    column-gap: 63px;
  }
}

.details-secondary__value {
  @include font-params-mobile(14px, 20px);
  font-family: $secondary-font;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(20px, 20px);
  }
}

.details-secondary__key {
  @include font-params-mobile(14px, 20px);
  order: -1;
  margin: 0;
  font-family: $secondary-font;
  color: $primary-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-mobile(20px, 20px);
  }
}
