.details-primary {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 32px;

  @media (min-width: $tablet-width) {
    gap: 43px;
  }
}

.details-primary__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-primary__value {
  @include font-params-mobile(24px, 24px);
  min-width: 124px;
  padding: 15px;
  font-family: $secondary-font;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  hyphens: auto;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(30px, 37px);
    min-width: 162px;
    padding: 15px;
    padding-bottom: 19px;
  }
}

.details-primary__key {
  @include font-params-mobile(12px, 12px);
  width: min-content;
  margin: -9px auto 0;
  padding: 0 15px;
  color: $secondary-color;
  background-color: #eaeaea;
  text-transform: lowercase;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(14px, 14px);
    max-width: 145px;
    width: fit-content;
    padding: 0 10px;
    background-color: $base-light;
  }

  @media (min-width: $desktop-width) {
    background-color: #f2f2f2;
  }
}
