.email-form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 0;
  }
}

.email-form__input {
  @include font-params-mobile(20px, 20px);
  margin: 0;
  padding: 12px;
  font-family: $secondary-font;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  &::placeholder {
    color: $secondary-color;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus-visible {
    border-color: $secondary-color;
    outline: none;
  }

  &:disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
  }

  &:not(:placeholder-shown):invalid {
    border-color: #ff8282;
  }

  &:not(:placeholder-shown):valid {
    border-color: $accent-color;
  }

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }
}

.email-form__button {
  @include button;
  @include font-params-mobile(20px, 26px);
  padding: 15px;

  @media (min-width: $tablet-width) {
    max-width: 256px;
    padding: 15px 69px;
  }
}
