.email-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.email-form__input {
  @include font-params-mobile(20px, 20px);
  margin: 0;
  padding: 13px;
  font-family: $secondary-font;
  text-transform: uppercase;
}

.email-form__input::placeholder {
  color: $secondary-color;
}

.email-form__button {
  @include button;
  padding: 15px;
}
