.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 101px;
    background-color: $base-light;
  }
}

.example__title {
  @include font-params-mobile(36px, 40px);
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
}

.example__description {
  margin: 0 0 20px;
  color: $secondary-color;
}
