.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__title {
  @include font-params-mobile(36px, 40px);
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
}

.example__description {
  margin: 0 0 20px;
  color: $secondary-color;
}
