.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 45px 30px 101px;
    background-color: $base-light;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 462;
      background-color: #f2f2f2;
      z-index: 0;
    }
  }

  @media (min-width: $desktop-width) {

    background-color: transparent;

    &::after {
      top: 136px;
      height: calc(100% - 136px);
      z-index: -1;
    }
  }
}

.example__container {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
    display: grid;
    grid-template-columns: 436px 1fr;
    grid-template-rows: 20% 25% 55%;
    align-items: start;
  }
}

.example__title {
  @include font-params-mobile(36px, 40px);
  margin: 0 0 40px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(60px, 60px);
  }
}

.example__description {
  margin: 0 0 20px;
  color: $secondary-color;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.example__details {
  margin: 0 0 20px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }
}
