.extra-catalog {
  display: flex;
  flex-direction: column;
  gap: 17px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    gap: 28px;
    padding-bottom: 28px;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 17px;
    border-left: none;
    border-right: none;
  }
}
