.extra-products {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.extra-products__title {
  @include font-params-mobile(24px, 24px);
  font-family: $secondary-font;
  font-weight: $base-font-weight;
}
