.extra-products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  @media (min-width: $tablet-width) {
    padding: 74px 30px;
    gap: 70px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    gap: 80px;
  }
}

.extra-products__title {
  @include font-params-mobile(24px, 24px);
  margin: 0 0 1px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(32px, 32px);
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 3;
  }
}

.extra-products__list {
  @include list-reset;
}

.extra-products__special {
  min-height: 290px;

  @media (min-width: $tablet-width) {
    min-height: 200px;
  }
}

