.extra-products {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.extra-products__title {
  @include font-params-mobile(24px, 24px);
  margin: 0 0 1px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
}
