.extra-card {
  border-top: 1px solid #d9d9d9;
}

.extra-card__title {
  @include font-params-mobile(16px, 16px);
  margin: 13px 0;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  color: $secondary-color-dark;
  text-transform: uppercase;
}

.extra-card__description {
  @include font-params-mobile($line-height: 14px);
  margin-bottom: 15px;
  width: 100%;
  color: $secondary-color;
}

.extra-card__column {
  display: flex;
  justify-content: space-between;
}

.extra-card__order {
  @include button;
  width: 100%;
  text-align: center;
}
