.extra-card__title {
  font-family: $secondary-font;
  color: #222222;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.extra-card__description {
  color: $secondary-color;
  line-height: 20px;
}
