.extra-card {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.extra-card__title {
  @include font-params-mobile(16px, 16px);
  margin: 13px 0;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  color: $secondary-color-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    grid-column: 1 / 2;
  }
}

.extra-card__description {
  @include font-params-mobile($line-height: 14px);
  margin-bottom: 15px;
  width: 100%;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    grid-column: 2 / 3;
  }

  @media (min-width: $desktop-width) {
    table-layout: fixed;
    border-collapse: collapse;
  }
}

.extra-card__column {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    gap: 50px;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.extra-card__price {
  @media (min-width: $desktop-width) {
    width: 70px;
    text-align: left;
  }
}

.extra-card__quantity {
  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.extra-card__order {
  @include button;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}
