.extra-card {
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 26px 38px 0;
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 0 17px;
    grid-template-columns: 1fr 315px 244px;
    gap: 10px;
    align-items: center;
  }

  &:last-child {
    padding-bottom: 19px;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.extra-card__title {
  @include font-params-mobile(16px, 16px);
  margin: 13px 0;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  color: $secondary-color-dark;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(20px, 20px);
    margin-top: 0;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.extra-card__description {
  @include font-params-mobile($line-height: 14px);
  margin: 0 0 15px;
  display: flex;
  justify-content: space-between;
  color: $secondary-color;

  @media (min-width: $tablet-width) {
    @include font-params-tablet($line-height: 20px);
    margin: 1px 2px 0 0;
    grid-column: 2 / 3;
    gap: 50px;
    justify-content: end;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 69px;
  }
}

.extra-card__price {
  @media (min-width: $desktop-width) {
    min-width: 50px;
  }
}

.extra-card__order {
  @include button;
  width: 100%;
  text-align: center;

  @media (min-width: $tablet-width) {
    grid-column: 1 / 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / 4;
  }
}
