.goal__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.goal__catalog {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: auto;
  color: $primary-color;
  text-decoration: none;
}
