.goal {
  padding: 20px 20px 18px;
  position: relative;
  background-color: $dark-background;

  &::before {
    content: "";
    position: absolute;
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 71px 300px 67px 52px;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 60px 61px 52px;
  }
}

.goal--slim::before {
  top: 22px;
  left: 20px;
  width: 50px;
  height: 53px;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    top: 74px;
    right: 63px;
    left: auto;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 52px;
    right: auto;
    width: 100px;
    height: 106px;
  }
}

.goal--pro::before {
  top: 23px;
  left: 11px;
  width: 70px;
  height: 50px;
  background-image: url("../../icons/stack.svg#cat-pro");

  @media (min-width: $tablet-width) {
    top: 86px;
    right: 29px;
    left: auto;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 48px;
    left: 34px;
    right: auto;
    width: 134px;
    height: 100px;
  }
}

.goal__title {
  @include font-params-mobile(24px, 37px);
  margin: 10px 0 30px 70px;
  font-family: $secondary-font;
  font-weight: $base-font-weight;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(36px, 36px);
    margin: 0 0 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.goal__description {
  color: $secondary-color;
  margin: 0;
  margin-bottom: 19px;
  padding-bottom: 21px;
  border-bottom: 2px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 0;
    max-width: 44vw;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.goal__catalog {
  @include link;
  @include font-params-mobile(16px, 16px);
  position: relative;
  padding-right: 47px;
  font-family: $secondary-font;
  color: $primary-color;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 8px;
    display: block;
    width: 24px;
    height: 10px;
    mask-image: url("../../icons/stack.svg#link-arrow");
    mask-size: 24px 10px;
    mask-repeat: no-repeat;
    background-color: $primary-color;
  }

  &:hover::after,
  &:focus-visible::after {
    right: 0;
    width: 32px;
    mask-image: url("../../icons/stack.svg#link-arrow-active");
    mask-size: 32px 10px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    @include font-params-tablet(20px, 20px);
    align-self: end;
    width: fit-content;
    height: fit-content;
    padding-right: 57px;

    &::after {
      top: 5px;
    }
  }
}
