.goals {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;


  @media (min-width: $tablet-width) {
    padding: 0 30px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}
