.hero {
  font-family: $secondary-font;
  text-align: center;
}

.hero__container {
  position: relative;
  margin-bottom: 138px;
  padding: 20px 35px 164px;
  color: $base-light;
  background-color: $accent-color;
}

.hero__title {
  @include font-params-mobile(36px, 36px);
  font-weight: $base-font-weight;
}

.hero__slogan {
  @include font-params-mobile($line-height: 14px);
  color: $base-light;
  text-transform: uppercase;
}

.hero__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.hero__selection {
  @include button;
}
