.hero {
  font-family: $secondary-font;
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  grid-template-rows: auto auto 1fr 135px auto;
  position: relative;
  color: $base-light;
  text-align: center;

  &::before {
    // фоновое изображение
    content: "";
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-color: $accent-color;
    z-index: -2;
  }

  // фоновый цвет
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background-color: $accent-color;
    z-index: -3;
  }
}

.hero__title {
  @include font-params-mobile(36px, 36px);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 27px 0 25px;
  font-weight: $base-font-weight;
}

.hero__slogan {
  @include font-params-mobile($line-height: 14px);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0 0 29px;
  color: $base-light;
  background-color: $accent-color;
  text-transform: uppercase;
}

.hero__image-wrapper {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.hero__selection {
  @include button;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}
