.logo {
  @include link;
  @include font-params-mobile(18px, 24px);
  width: 65vw;
  padding: 13px 20px;
  font-family: $secondary-font;
  color: $primary-color;

  @media (min-width: $tablet-width) {
    margin: 12px 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
  }
}

.logo__text {
  position: absolute;
  top: 23px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    position: static;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    width: 118px;
    height: 21px;
  }
}

.logo__text--footer {
  position: static;
}
