.main-footer {
  background-color: $dark-background;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 95px 1fr 106px auto;
    grid-template-columns: 1fr 565px 655px 1fr;
  }
}

.main-footer__contacts {
  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    z-index: 2;
  }
}

.main-footer__map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 4;
    grid-column: 1 / 5;
  }
}

.main-footer__logo {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: fit-content;
  }
}

.main-footer__social {
  @include list-reset;
  width: 100%;

  @media (min-width: $tablet-width) {
    transform: translateX(6%);
  }
}

.main-footer__links {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 56px 30px;
    flex-direction: row;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-row: 4 / 5;
    grid-column: 1 / 5;
    width: 1220px;
    justify-self: center;
  }
}

.main-footer__copyright {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 168px;
  }
}
