.main-nav {
  position: absolute;
  top: 13px;
  right: 21px;
}

.main-nav__toggle {
  @include link;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav__toggle--closed {
  background-image: url("../../icons/stack.svg#burger-button");
}

.main-nav__toggle--opened {
  background-image: url("../../icons/stack.svg#close");
}
