
@media (max-width: $mobile-width-only) {
  .main-nav {
    position: absolute;
    z-index: 2;
    top: 13px;
    right: 21px;
  }

  .main-nav__toggle {
    @include link;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .main-nav--opened {
    right: 0;

    .main-nav__toggle {
      right: 20px;
      position: absolute;
      background-image: url("../../icons/stack.svg#close");
    }

    .main-nav__list {
      position: relative;
      top: 55px;
      width: 100vw;
      border-top: 1px solid #e6e6e6;
    }
  }

  .main-nav--closed {
    .main-nav__toggle {
      background-image: url("../../icons/stack.svg#burger-button");
    }

    .main-nav__list {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
