.main-header {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: 1220px;
  }
}
