.map__img {
  display: block;
  width: 100%;
  max-height: 362px;
  object-fit: cover;

  @media (min-width: $desktop-width) {
    max-height: 400px;
  }
}

.map iframe {
  border: none;
  display: block;
}
