.pages-headline {
  @include font-params-mobile(36px, 36px);
  padding: 27px 20px 41px;
  border-top: 1px solid #d9d9d9;
  font-family: $secondary-font;
  font-weight: $base-font-weight;

  @media (min-width: $tablet-width) {
    @include font-params-tablet(60px, 60px);
    padding: 65px 30px 84px;
    border: none;
  }
}
