.slider {
  position: relative;
  place-content: center;
  min-height: 256px;

  @media (min-width: $tablet-width) {
    min-height: 512px;
  }
}

.slider__image--before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 50% 0 0);
  z-index: 1;
}

.slider__image--after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 0 0 50%);
  z-index: 1;
}

.slider__curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: $mask-background-color;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    background-color: $base-light;
    border: 2px solid $mask-background-color;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 18px;
    background-color: $mask-background-color;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }

  &:hover,
  &:focus-visible {
    background-color: $accent-color;
  }

  &:active {
    opacity: 0.6;
  }

  &:hover::before,
  &:focus-visible::before {
    border-color: $accent-color;
  }


  &:hover::after,
  &:focus-visible::after {
    background-color: $accent-color;
  }
}
