.slider {
  height: 256px;
}

.slider__curtain {
  position: relative;
  width: 4px;
  height: 100%;
  padding: 0;
  background-color: #666666;
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 40px;
    height: 40px;
    background-color: $base-light;
    border: 2px solid #666666;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 24px;
    height: 18px;
    background-color: #666666;
    mask-image: url("../../icons/stack.svg#slider-arrows");
    mask-size: 24px 18px;
    mask-repeat: no-repeat;
  }
}
