.special-offer {
  @include font-params-mobile(16px, 20px);
  position: relative;
  padding: 186px 60px 43px 58px;
  background-color: $accent-color;
  color: $base-light;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift");
    background-repeat: no-repeat;
  }
}
