.special-offer {
  @include font-params-mobile(16px, 20px);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: end;
  padding: 186px 60px 43px 58px;
  color: $base-light;
  text-align: center;
  background:
    linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url("../../images/background/cat-special-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/background/cat-special-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/background/cat-special-mobile@2x.jpg") type("image/jpg") 2x,
    url("../../images/background/cat-special-mobile@1x.jpg") type("image/jpg") 1x);
  background-color: #858585;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    top: 59px;
    right: 50%;
    transform: translateX(50%);
    display: block;
    width: 78px;
    height: 80px;
    background-image: url("../../icons/stack.svg#gift");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    padding: 70px 125px 70px 160px;
    justify-content: center;
    align-items: end;
    text-align: start;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../../images/background/cat-special-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/background/cat-special-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/background/cat-special-tablet@2x.jpg") type("image/jpg") 2x,
      url("../../images/background/cat-special-tablet@1x.jpg") type("image/jpg") 1x);
    background-color: #858585;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &::before {
      top: 50%;
      left: 77px;
      transform: translateY(-50%);
      width: 80px;
      height: 83px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 42px 43px;
    justify-content: end;
    align-items: center;
    text-align: center;
    background:
      linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
      image-set(url("../../images/background/cat-special-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/background/cat-special-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/background/cat-special-mobile@2x.jpg") type("image/jpg") 2x,
      url("../../images/background/cat-special-mobile@1x.jpg") type("image/jpg") 1x);
    background-color: #858585;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;

    &::before {
      top: 56px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px;
      height: 83px;
    }
  }
}

.special-offer__description {
  margin: 0;
}
